@import "mixins.less";

html, body {
    height: 100%;
    width: 100%;
}

#content {
    height: 100%;
    width: 100%;
}

.welcome {
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
    background: url(../img/school-test.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #eee;

    .text {
        display: table-cell;
        vertical-align: middle;
        text-align: center;

        h1 {
            //font-weight: 700;
            font-size: 3.5em;
            .text-shadow();
        }

        .lead {
            font-weight: 400;
            .text-shadow();
        }
    }
}

.technologies {
    display: table;
    height: 240px;
    width: 100%;
    position: relative;
    background: url(../img/leaves.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #eee;

    .text {
        display: table-cell;
        vertical-align: middle;
        text-align: center;

        h1 {
            //font-weight: 700;
            font-size: 3.5em;
            .text-shadow();
        }

        .lead {
            font-weight: 400;
            .text-shadow();
        }
    }
}

.intro {
    .box-padding();
}

.footer {
    .box-padding();
    background-color: #eee;

    .fa-stack {
        .fa {
            color: #eee;
        }

        .fa-circle {
            color: #ccc;
        }
    }

    .twitter-icon {
        &:hover {
            .fa-twitter {
                color: #fff;
            }

            .fa-circle {
                color: #55acee;
            }
        }
    }

    .facebook-icon {
        &:hover {
            .fa-facebook {
                color: #fff;
            }

            .fa-circle {
                color: #3b5998;
            }
        }
    }

    .linkedin-icon {
        &:hover {
            .fa-linkedin {
                color: #fff;
            }

            .fa-circle {
                color: #007bb6;
            }
        }
    }
}
