{% extends 'layout/full.html' %}

{% block main_column %}
<section id="header" class="welcome">
    <div class="text">
        <h1>Henrik Ossipoff Hansen</h1>
        <p class="lead">
            Coder, problem solver, computer scientist, hobbyist front-end developer
        </p>
    </div>
</section>
<section id="intro" class="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2>Coder — computer scientist</h2>
                <p class="lead">
                    Some people are mere code monkies. But there's more to coding. My theoretical background in computer science gives me the ability to approach code and software engineering in a different light and apply the proper techniques and skills.
                </p>
            </div>
        </div>
    </div>
</section>
<section id="technologies" class="technologies">
    <div class="text">
        <p class="lead">Python, Django, C/C++, C#, Unity3D</p>
        <p class="lead">HTML/CSS, jQuery, Backbone.js, Twitter Bootstrap</p>
        <p class="lead">PostgreSQL, Apache Solr, Elasticsearch, MongoDB</p>
        <p class="lead">SCRUM, Git, Git flow, E-commerce, New Relic</p>
    </div>
</section>
<section id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <a href="https://www.facebook.com/Ossipoff" target="_blank"><span class="fa-stack facebook-icon fa-3x">
                        <i class="fa fa-circle fb-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span></a>
                <a href="http://www.linkedin.com/pub/henrik-ossipoff-hansen/31/240/a47" target="_blank"><span class="fa-stack linkedin-icon fa-3x">
                    <i class="fa fa-circle linkedin-circle fa-stack-2x"></i>
                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span></a>
                <a href="https://twitter.com/HenrikOssipoff" target="_blank"><span class="fa-stack twitter-icon fa-3x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span></a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
